
@{
    Layout = null;
}

@{
    var session = (TracNghiemLTK.Common.ThiSinhInfo)Session[TracNghiemLTK.Common.CommonConstantsStudent.STUDENT_SESSION];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title | @session.HoTen</title>
    <!-- Bootstrap -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="/Content/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/Content/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="/Content/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/Content/build/css/custom.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="/Content/vendors/jquery/dist/jquery.min.js"></script>
    <style>
        .left_col {
            background: #333;
        }

        .nav_title {
            background: #337ab7;
        }
    </style>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/Contest/Default" class="site_title"><span>Homepage</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            @if (session.Image != null)
                            {
                                <img src="data:image/gif;base64,@Convert.ToBase64String(session.Image)" class="img-circle profile_img" />}
                            else
                            {
                                <img src="~/Content/images/img.jpg" alt="..." class="img-circle profile_img">}
                        </div>
                        <div class="profile_info">
                            <span>Hello,</span>
                            <h2>@session.HoTen</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Menu</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Contest/Default">Exam</a></li>
                                        <li><a href="/Contest/Lop/Index/@session.MaLop">Class</a></li>
                                        <li><a href="/Contest/Mon">Subject</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="menu_section">
                            <h3>Settings</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-user"></i> Account <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Contest/Profile/Details/@session.MaThiSinh">Profile</a></li>
                                        <li><a href="/Contest/KetQua/Index/@session.MaThiSinh">My Results</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @if (session.Image != null)
                                    {
                                        <img src="data:image/gif;base64,@Convert.ToBase64String(session.Image)"/>}
                                    else
                                    {
                                        <img src="~/Content/images/img.jpg" alt="...">}@session.HoTen
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="/Contest/Profile/Details/@session.MaThiSinh"> Profile</a></li>
                                    <li>@Html.ActionLink("Logout", "Logout", "Default")</li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Copyright © is-exam 2021
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- Bootstrap -->
    <script src="/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/Content/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/Content/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/Content/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/Content/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/Content/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/Content/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/Content/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/Content/vendors/Flot/jquery.flot.js"></script>
    <script src="/Content/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/Content/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/Content/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/Content/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/Content/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/Content/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/Content/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/Content/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/Content/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/Content/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/Content/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/Content/vendors/moment/min/moment.min.js"></script>
    <script src="/Content/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/Content/build/js/custom.min.js"></script>

</body>
</html>
