@model List<DataLTK.KetQua>
@{
    ViewBag.Title = "Exam Result";
    Layout = "~/Areas/Contest/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Examination result</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                    @foreach(var item in Model)
                    {
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            @if (item.ThiSinh.Image != null)
                            {
                                <img src="data:image/gif;base64,@Convert.ToBase64String(item.ThiSinh.Image)" class="img-responsive avatar-view" />}
                            else
                            {
                                <img class="img-responsive avatar-view" src="~/Content/images/picture.jpg" alt="Avatar" title="Change the avatar">
}
                        </div>
                    </div>
                    <h3>@item.ThiSinh.HoTen</h3>

                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-map-marker user-profile-icon"></i> Address: @item.ThiSinh.DiaChi
                        </li>

                        <li>
                            <i class="fa fa-briefcase user-profile-icon"></i> DoB: @(item.ThiSinh.NgaySinh.HasValue ? item.ThiSinh.NgaySinh.Value.ToString("dd/MM/yyyy") : "Unknown")
                        </li>
                    </ul>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">

                    <div class="profile_title">
                        <div class="col-md-6">
                            <h2>Điểm số</h2>
                        </div>
                        <div class="col-md-6">
                            <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                <span>@DateTime.Now</span> <b class="caret"></b>
                            </div>
                            </div>
                        <div class="clear"></div>
                        
                        
                        </div>
                    <div class="col-md-9 x_content">
                        <ul class="list-group">
                            <li class="list-group-item">Date submitted : @(item.NgayThi.HasValue ? item.NgayThi.Value.ToString("dd/MM/yyyy") : "NaN")</li>
                            <li class="list-group-item">Exam code : @item.MaDe</li>
                            <li class="list-group-item">Score : @item.Diem</li>
                            @if (item.Diem > 40)
                            {
                                <li class="list-group-item">Result : <font color="green"><b>Passed</b></font></li>
}
                            else
                            {
                                <li class="list-group-item">Result : <font color="red"><b>Failed</b></font></li>
}
                        </ul>

                    </div>
                    <div class="col-md-9 x_content" style="text-align:center">
                        <a class="btn btn-success" href="/Contest/Default"><i class="fa fa-edit m-right-xs"></i>Homepage</a>
                    </div>
                    </div>}
                </div>
            </div>
        </div>
    </div>
