
@{
    ViewBag.Title = "Class";
    Layout = "~/Areas/Contest/Views/Shared/_Layout.cshtml";
}

@model List<DataLTK.ThiSinh>
<div class="x_panel">
    <div class="x_title">
        <h2>My Class <small>@Html.DisplayName(Model.Select(x=>x.Lop.TenLop).FirstOrDefault())</small></h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">Settings 1</a>
                    </li>
                    <li>
                        <a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Date of Birth</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row_@item.MaThiSinh">
                        <th scope="row">@item.MaThiSinh</th>
                        <td>@item.HoTen</td>
                        @if (item.GioiTinh == true)
                        {
                            <td>Male</td>
}
                        else
                        {
                            <td>Female</td>
}
                        <td>@(item.NgaySinh.HasValue ? item.NgaySinh.Value.ToString("dd/MM/yyyy") : "Chưa rõ")</td>
                        <td>@item.DiaChi</td>
                    </tr>}
            </tbody>
        </table>

    </div>
</div>




