@model TracNghiemLTK.Areas.Admin.Models.MultiQuizModel
@{
    ViewBag.Title = "Thêm nhiều câu hỏi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var ListMultiQuiz = (List<DataLTK.Quiz>)ViewBag.ListMultiQuiz;

}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Đề bài <small>Thêm câu hỏi vào Exam</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal x_content">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <p>Số câu hỏi tối đa cho đề bài này là: <code>3/20</code> </p>
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>
                                    <i class="fa fa-save"></i>
                                </th>
                                <th class="column-title">Câu hỏi </th>
                                <th class="column-title">Subject </th>
                                <th class="column-title no-link last">
                                    <span class="nobr">Action</span>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Selected ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                                @for (int i = 0; i < Model.Quiz.Count; i++)
                                {
                                <tr class="even pointer">
                                    <td class="a-center ">
                                        @Html.CheckBoxFor(model => model.Quiz[i].table_records, new { @class = "flat" })
                                    </td>
                                    <td>
                                        @Model.Quiz[i].CauHoi
                                        @Html.HiddenFor(model=>model.Quiz[i].MaCauHoi)
                                    </td>
                                    <td>
                                        @Model.Quiz[i].MonThi.TenMon
                                    </td>
                                    <td class="last">
                                        <a href="#" class="btn btn-dark btn-xs">Add</a>
                                    </td>

                                </tr>}

                            </tbody>
                        </table>
                    </div>

                    <button class="btn btn-success" onclick="return confirm('Xác nhận thêm các câu hỏi đã chọn')"><i class="fa fa-plus"></i> Thêm đã chọn</button>
                </div>
        }

    </div>
</div>
