@model List<DataLTK.ch_db>

@{
    ViewBag.Title = "Exam details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Exam questions</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-md-9 col-sm-9 col-xs-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Question</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.id">
                            <th scope="row">@item.MaCauHoi</th>
                            <td>
                            @if(@item.Quiz.Picture != null)
                                {
                                    <i class="fa fa-image"></i>
                                }
                                else
                                {
                                    <i class="fa fa-question-circle"></i>
                                }
                            @item.Quiz.CauHoi</td>
                            <td>
                                @*<a href="/Admin/DeThi/RemoveQuizInTheardID/@item.id?theard=@Url.RequestContext.RouteData.Values["id"]" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>*@
                                @Ajax.ActionLink("Delete", "RemoveQuizInTheardID", new { @id = item.id, @theard = @Url.RequestContext.RouteData.Values["id"] }, new AjaxOptions
                       {
                           Confirm = "Confirm Delete ?",
                           OnComplete = "$('#row_" + item.id + "').remove()",
                           HttpMethod = "Delete"
                       }, new { @class = "btn btn-danger btn-xs" })
                            </td>
                        </tr>}
                </tbody>
            </table>
            @*<a href="/Admin/DeThi/AddQuiz/@Url.RequestContext.RouteData.Values["id"]" class="btn btn-success"><i class="fa fa-plus"></i> Add question to exam</a>*@
            <a href="/Admin/DeThi/AddQuizs/@Url.RequestContext.RouteData.Values["id"]" class="btn btn-warning"><i class="fa fa-plus-circle"></i> Add question to exam</a>
            <a href="/Admin/DeThi" class="btn btn-default"><i class="fa fa-undo"></i> << Back</a>
                </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="x_title">
                    <h4>Exam details</h4>
                </div>
                <ul class="list-unstyled project_files">
                        <li>
                            <i class="fa fa-file-word-o"></i> Code: @Html.DisplayName(Model.Select(x=>x.MaDe).FirstOrDefault().ToString())
                        </li>
                        <li>
                            <i class="fa fa-file-pdf-o"></i> Description: @Html.DisplayName(Model.Select(x => x.DeThi.MoTa).FirstOrDefault().ToString())
                        </li>
                        <li>
                            <i class="fa fa-mail-forward"></i> Subject: @Html.DisplayName(Model.Select(x => x.DeThi.MonThi.TenMon).FirstOrDefault().ToString())
                        </li>
                        <li>
                            <i class="fa fa-picture-o"></i> Time allowed: @Html.DisplayName(Model.Select(x => x.DeThi.Time).FirstOrDefault().ToString()) minutes
                        </li>
                        <li>
                            <i class="fa fa-file-word-o"></i> Date Created: @Html.DisplayName(Model.Select(x => x.DeThi.CreateDate).FirstOrDefault().ToString())
                    
                </ul>
            </div>
        </div>
    </div>
</div>