@model TracNghiemLTK.Areas.Admin.Models.AdminLoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Online Examination System for Admin</title>
    <!-- Bootstrap -->
    <link href="@Url.Content("/Content/vendors/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="@Url.Content("/Content/vendors/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
    <!-- NProgress -->
    <link href="@Url.Content("/Content/vendors/nprogress/nprogress.css")" rel="stylesheet">
    <!-- Animate.css -->
    <link href="@Url.Content("/Content/vendors/animate.css/animate.min.css")" rel="stylesheet">
    <!-- Custom Theme Style --->
    <link href="@Url.Content("/Content/build/css/custom.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("/Content/build/css/iofrm-style.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("/Content/build/iofrm-theme10.css")" rel="stylesheet" type="text/css">

</head>
<body class="login">
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <div class="website-logo-inside">
                            <div class="logo">
                                <img class="logo-size" src="~/Content/build/images/logo-light.svg" alt="">
                            </div>
                        </div>
                        <h3>Online Examination System</h3>
                        <p>For Administrators</p>
                        <div class="page-links">
                            <a href="" class="active">Admin Login</a>
                        </div>
                        <div>
                            @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                            {
                                <div class="alert alert-warning">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    @Html.ValidationSummary(true, "Errors: ")
                                </div>
                            }
                        </div>
                        <form>
                            <input class="form-control" type="text" name="username" placeholder="Username" required>
                            <input class="form-control" type="password" name="password" placeholder="Password" required>
                            <div class="form-button">
                                <button id="submit" formmethod="post" type="submit" class="ibtn">Login</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>

